.Add-comment-base > form {
    margin: 5px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.3);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.Add-comment-base > form > input {
    flex: auto;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}

.Add-comment-base > form > button {
    background-color: lightgray;
    border: none;
    cursor: pointer;
}